<div class="sessions">
  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>Chatealo!</h1>
      <h2>Log in</h2 >
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: 'email address', autofocus: true, autocomplete: "email" %>

        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'password', autocomplete: "current-password" %>

        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= f.button "Log in" %>
      </div>
      <p>
        Don't have an account?
      </p>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
