<!DOCTYPE html>
<html>
  <head>
    <title>Chatealo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('chatealo-logo.jpeg') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", :"data-turbo-track" => "reload" %>
  </head>

  <main>
    <body>
      <%= render "layouts/navbar" %>
      <% if current_user.present? %>
        <div class="container">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>

          <%= yield %>
        </div>
      <% else %>
          <%= yield %>
      <% end %>
    </body>
  </main>
</html>
